<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Ruchitha's website
    </title>
    <link rel="icon" type="image/x-icon" href="https://32e2c741-8899-413d-bfe7-c1d4a8bb3a30-00-335spr46hca2j.pike.repl.co/static/banner.jpg">
    <metacharset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
      <style>
        #banner{
          height: 360px;
          width: 100%;
          object-fit: cover;
        }
      </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-4">Jovian Carrier</h1>
      <img src="https://32e2c741-8899-413d-bfe7-c1d4a8bb3a30-00-335spr46hca2j.pike.repl.co/static/banner.jpg" class="img-fluid" id="banner">
      <h2 class="text-center mt-4">About Jovian</h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut bibendum scelerisque arcu ac finibus. Integer rhoncus lorem sit amet urna suscipit pulvinar. Vestibulum ut gravida risus. In sollicitudin pulvinar nulla, at molestie est blandit eu. Donec gravida massa mollis tortor posuere dapibus. Phasellus vel orci diam. Integer lacinia diam ac odio ultricies, quis tincidunt justo volutpat. Sed volutpat quam libero, a vulputate odio tempus vitae. Nunc suscipit, risus eu venenatis molestie, felis nunc pulvinar elit, at posuere metus felis sed tortor. Nunc porta ultricies lacinia. Maecenas fermentum scelerisque tortor vitae viverra. Maecenas sit amet massa diam. Suspendisse posuere, neque non volutpat tincidunt, urna orci pellentesque dui, in pharetra mauris massa sit amet ipsum. Proin aliquet leo nec nulla sollicitudin placerat. Suspendisse sagittis blandit mi, a luctus eros suscipit ac.</p>
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <p class="text-center">TODO - Show the jobs here</p>
      <div class="text-center mb-4">
        <button class="btn btn-primary btn-lg">Contact Us</button>
      </div>
    </div>
  </body>
</html>